<div class='title-button'>
  <div>
    <h1>Address Book</h1>
  </div>
</div>

<div id='form'>
  <%= form_for(Person.new, url: "api/v1/people", :remote=>false) do |form| %>

    <div class='form-group' style="margin: auto; padding: 15px">
      <%= form.select :salutation, ["Mr", "Mrs.", "Ms."], class: "form-control", size: '3', placeholder: "Mr."%>
    </div>

    <div class='row' style="margin: auto; padding: 15px">
      <div class='col'>
        <%= form.text_field :first_name, class: "form-control", placeholder: "First name"%>
      </div>
      <div class='col'>
        <%= form.text_field :middle_name, class: "form-control", placeholder: "Middle name" %>
      </div>
      <div class="col">
        <%= form.text_field :last_name, class: "form-control", placeholder: "Last name" %>
      </div>
    </div>

    <div class="form-group" style="margin: auto; padding: 10px">
      <%= form.label :birthday %>
      <%= form.date_select :birth_date, class: "form-control" %>
    </div>
    <div class="form-group" style="margin: auto; padding: 10px">
      <%= form.text_field :SSN, class: "form-control", placeholder: "SSN"  %>
    </div>
    <div class="form-group" style="margin: auto; padding: 10px">
      <%= form.text_area :comment, placeholder: "Comments?"  %>
    </div>

  <div class="address-title">
    <h4>Address</h4>
  </div>

  <%= form.fields_for :addresses, Address.new do |addresses_form| %>

    <div class="form-group" style="margin: auto; padding: 10px">
      <%= addresses_form.text_field :street, placeholder: "Address" %>
    </div>
    <div class='row' style="margin: auto; padding: 15px">
      <div class='col'>
        <%= addresses_form.text_field :town, placeholder: "City"  %>
      </div>
      <div class='col'>
        <%= addresses_form.text_field :zip_code, placeholder: "Zip Code" %>
      </div>
      <div class='col'>
        <%= addresses_form.text_field :state, placeholder: "State" %>
      </div>
    </div>
    <div class="form-group" style="margin: auto; padding: 10px">
      <%= addresses_form.country_select :country, placeholder: "Country"  %>
    </div>

  <% end %>

  <div class="address-title">
    <h4>Email</h4>
  </div>

      <%= form.fields_for :emails, Email.new do |emails_form| %>
        <div class='form-group' style="margin: auto; padding: 15px">
          <%= emails_form.email_field :email_address, placeholder: "Email" %>
        </div>
        <div class='form-group' style="margin: auto; padding: 15px">
          <%= emails_form.text_area :comment, placeholder: "Comments?"  %>
        </div>
      <% end %>

  <div class="address-title">
    <h4>Phone Number</h4>
  </div>

      <%= form.fields_for :phone_numbers, PhoneNumber.new do |numbers_form| %>
        <div class='form-group' style="margin: auto; padding: 15px">
          <%= numbers_form.telephone_field :phone_number, placeholder: "Phone Number"  %>
        </div>
        <div class='form-group' style="margin: auto; padding: 15px">
          <%= numbers_form.text_area :comment, placeholder: "Comments?"  %>
        </div>
      <% end %>

  <% end %>
  <div id="submit">
    <button id=#submit>Add Person</button>
  </div>
</div>

<div class='title-button'>
  <div>
    <h1>Contacts</h1>
  </div>
</div>

<div id="people-container">
</div>


<script type="text/javascript" charset="utf-8">

/* Post Request to call create action in API Controller */
$(function() {
$("#submit").click(function(event) {
  var person = ($('form').serializeArray())
    $.ajax({
        type: "POST",
        url: 'api/v1/people',
        dataType: 'json',
        data: person,
        success: function(data) {
          alert("Submitted")
        }
    });
    window.location.href='/people';
  });
});

/* Function for index action in API Controller */
$(function() {
  $(document).ready(function() {
    $.get("api/v1/people", function(data) {
        let string = data.map(person => {
          return `
            <div class="person-container">
            <div class="person-name-detail">
              <div>
                <h4 class="names">${person.first_name} ${person.middle_name} ${person.last_name}</h4>
              </div>
              <div class='person-buttons'>
                <button type="button" class="btn btn-primary custom2"><a class='link' href='/people/${person.id}'>Details</a></button>
                <button type="button" class="btn btn-secondary custom2"><a class='link' href='/people/${person.id}/edit'>Edit</a></button>
              </div>
            </div>
            </div>`
          }).join(' ');
      $("#people-container").append(string);
    });
  });
});
</script>
