<%= form_for(@person) do |form| %>

  <%= form.label :salutation %>
  <%= form.select :salutation, ["Mr", "Mrs.", "Ms."] %>
  <%= form.label :first_name %>
  <%= form.text_field :first_name %>
  <%= form.label :middle_name %>
  <%= form.text_field :middle_name %>
  <%= form.label :last_name %>
  <%= form.text_field :last_name %>
  <%= form.label :birth_date %>
  <%= form.date_select :birth_date %>
  <%= form.label :SSN %>
  <%= form.text_field :SSN %>
  <%= form.label :comment %>
  <%= form.text_area :comment %>

  Address:
  <ul>
    <%= form.fields_for :addresses do |addresses_form| %>
      <li>
        <%= addresses_form.label :street %>
        <%= addresses_form.text_field :street %>
      </li>
        <%= addresses_form.label :town %>
        <%= addresses_form.text_field :town %>
      <li>
        <%= addresses_form.label :zip_code %>
        <%= addresses_form.text_field :zip_code %>
      </li>
        <%= addresses_form.label :state %>
        <%= addresses_form.text_field :state %>
      <li>
        <%= addresses_form.country_select :country %>
      </li>
    <% end %>
  </ul>

  Email:
  <ul>
    <%= form.fields_for :emails do |emails_form| %>
      <li>
        <%= emails_form.label :email_address %>
        <%= emails_form.email_field :email_address %>
      </li>
        <%= emails_form.label :comment %>
        <%= emails_form.text_area :comment %>
      <li>
    <% end %>
  </ul>

  Phone Number:
  <ul>
    <%= form.fields_for :phone_numbers do |numbers_form| %>
      <li>
        <%= numbers_form.label :phone_number %>
        <%= numbers_form.telephone_field :phone_number %>
      </li>
        <%= numbers_form.label :comment %>
        <%= numbers_form.text_area :comment %>
      <li>
    <% end %>
  </ul>
  <%= form.submit "Add New Person" %>
<% end %>
